
.container__form {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #333;
  color: #fff;
  border-radius: 5%;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 72px;
  line-height: 72px;
  color: var(--header);
}

.order-from__subtitle{
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 36px;
  line-height: 36px;
  color: var(--header);
}

.order-form {
  display: flex;
  gap: 200px;
  margin: 50px 0 50px 0;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 10px !important;
  font-size: 20px !important;
}

input {
 font-size: 17px ;
}

input[type="text"],
input[type="tel"],
input[type="number"],
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #555;
  background-color: #444;
  color: #fff;
}

.radio-group {
  margin-bottom: 10px;
}

.radio-group, .form-group, .radio-group, .order-item, .total>p {
  margin-bottom: 30px;
}

.radio-group label {
  margin-right: 10px;
}

.order-list {
  list-style-type: none;
  padding: 0;
}

.order-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 18px;
}

.total {
  margin-top: 20px;
}

.submit-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #ffd700;
  color: #000;
  border: none;
  cursor: pointer;
  font-weight: bold;
  margin-top: 20px;
  font-size: 24px;
}

.menu-link {
  background: none;
  text-align: center;
  margin-top: 10px;
  color: white;
  text-decoration: none;
  font-size: 24px;
}