:root {
  --header: #FFFFFF;
  --text: #C6C6C6;
  --textInButton: #000000;
  --background: #110500;
  --footerBackground: #3F342A;
  --buttonBackground: #FFBF05;
  --imageBackground: #9A5701;

}

body {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  background-color: var(--background);
  /* background-color: #000000; */
  
}

.nunito {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

button {
  text-decoration: none;
}

.container {
  max-width: 1280px;
  /*(1720px + 30px * 2) */
  margin: 0 auto;
  padding: 0 30px;
  
}

.btn {
  background-color: #FE7D00;
  padding: 15px 30px;
  border-radius: 12px;
  border: 3px solid #333;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  color: #333;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: 30px;
}
.btn:hover {
  background-color: #FF9933;
}

.wrapper{
  max-width: 1170px;
}
