.header__container{
  background-color: var(--background);
}
.header__row {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
  align-items: center;
}
.header__nav {
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0.01em;
  line-height: 1.5;
}

.header__nav>ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 65px;
  align-items: center;
}

.header__nav>ul>li>a{
  color: var(--header);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 24px;
  padding-right: 50px;
}
.header__actionBtns > button > img{
  height: 34px;
  padding: 10px;
}
.header__actionBtns > button {
background: none;
}

.header__logo {
  display: inline-block;
  background-color: #FE7D00;
  padding: 10px 20px;
  border-radius: 12px; 
  border: 3px solid #333; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
  text-align: center; 
}

.header__logo span {
  display: block;
  font-size: 28px; 
  font-weight: bold;
  color: #333; 
  text-transform: uppercase; 
  margin-bottom: 5px;
}

.header__logo p {
  font-size: 16px; 
  font-style: italic; 
  color: #555; 
}

.nunito {
  text-decoration: none;
  color: #000;
}

.active {
  color: #ff0000; 
  font-weight: bold;
}

/* header.css */

.logo-link {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
}

.logo-link span {
  font-size: 24px;
  font-weight: bold;
}

.logo-link p {
  font-size: 14px;
  margin: 0;
}

.header__nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nunito {
  text-decoration: none;
  color: #000;
  font-family: 'Nunito', sans-serif;
}

.active {
  color: #ff0000; /* Наприклад, червоний колір для активного посилання */
  font-weight: bold;
}

.header__actionBtns {
  display: flex;
  align-items: center;
  gap: 10px;
}

.home-button {
  padding: 8px 16px;
  background-color: #ff0000; /* Червоний фон */
  color: #fff;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
}

.home-button:hover {
  background-color: #cc0000; /* Темніший червоний при наведенні */
}
